language: ruby
cache: bundler
sudo: false
env:
  - JSONAPI_RESOURCES_VERSION=0.8.0.beta1 RAILS_VERSION=4.1.0
  - JSONAPI_RESOURCES_VERSION=0.8.0.beta1 RAILS_VERSION=4.2.0
  - JSONAPI_RESOURCES_VERSION=master RAILS_VERSION=4.2.0
  - JSONAPI_RESOURCES_VERSION=master RAILS_VERSION=4.1.0
rvm:
  - 2.1.2
before_install: gem install bundler -v 1.11.2
notifications:
  email: false
matrix:
  allow_failures:
    - env: JSONAPI_RESOURCES_VERSION=master RAILS_VERSION=4.2.0
    - env: JSONAPI_RESOURCES_VERSION=master RAILS_VERSION=4.1.0
